body, html {
  background: #18191a !important;
  color: #e4e6eb !important;
}

input, textarea, select, button {
  background: #242526 !important;
  color: #e4e6eb !important;
  border-color: #3a3b3c !important;
}

h1, h2, h3, h4, h5, h6, p, strong, .truncate {
  color: #e4e6eb !important;
}

.wrapper-page, .form-signin {
  background: #242526 !important;
  color: #e4e6eb !important;
  border-color: #3a3b3c !important;
}

::-webkit-scrollbar {
  background: #242526;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #3a3b3c;
  border-radius: 4px;
} 

.message-content-render>.message-frame, .msg-select-overlay {
  background: #232c3b !important; /* hoặc #293a57, #2a3b5a */
  color: #e4e6eb !important;
}

:root, :root .light {
  --link: #3399ff !important;
  --success: #37b361 !important;
  --icon-hover-bg: #242526 !important;
  --input-white: #242526 !important;
  --input-placeholder-wh: #8b96a7 !important;
  --input-icon-wh: #e4e6eb !important;
  --input-grey: #3a3b3c !important;
  --input-placeholder-gr: #8b96a7 !important;
  --input-icon-gr: #e4e6eb !important;
  --self-bubble-chat-shadow: rgba(0,0,0,0.5) !important;
  --text-quote: #b0b3b8 !important;
  --bg-divide-bb-blue: #3a3b3c !important;
  --grey-dot: #8b96a7 !important;
  --red-dot: #c31818 !important;
  --item-wa-hover: #242526 !important;
  --item-wa-select: #3a3b3c !important;
  --bg-default: #18191a !important;
  --title-bar: #242526 !important;
  --title-ptv: #e4e6eb !important;
  --tab-txt: #b0b3b8 !important;
  --tip-bg: #00378a !important;
  --surface-background: #18191a !important;
  --surface-background-subtle: #242526 !important;
  --surface-alt: #242526 !important;
  --layer-background: #18191a !important;
  --layer-background-pinned: rgba(255,255,255,0.03) !important;
  --layer-background-subtle: #242526 !important;
  --layer-background-hover: #3a3b3c !important;
  --layer-background-disabled: #3a3b3c !important;
  --layer-background-selected: #242526 !important;
  --layer-background-inverse: #242526 !important;
  --layer-background-inverse-subtle: #18191a !important;
  --layer-background-CSC: #242526 !important;
  --layer-background-leftmenu: #242526 !important;
  --layer-background-leftmenu-hover: #3a3b3c !important;
  --layer-background-leftmenu-selected: #3399ff !important;
  --layer-background-navbar-normal: #242526 !important;
  --layer-background-navbar-hover: rgba(255,255,255,0.08) !important;
  --layer-background-navbar-selected: rgba(255,255,255,0.15) !important;
  --layer-background-navbar-sublevel-normal: #242526 !important;
  --layer-background-navbar-sublevel-hover: #3a3b3c !important;
  --layer-background-navbar-sublevel-selected: #3399ff !important;
  --layer-alert-background: #c31818 !important;
  --layer-error-background: #3a3b3c !important;
  --layer-success-background: #1f7a3d !important;
  --layer-warning-background: #8a6a00 !important;
  --layer-information-background: #00378a !important;
  --layer-neutral-information-background: #242526 !important;
  --layer-background-ptv: #18191a !important;
  --layer-background-ptv-thumbslider: #242526 !important;
  --layer-background-ptv-controlbar: #3a3b3c !important;
  --text-primary: #e4e6eb !important;
  --text-secondary: #b0b3b8 !important;
  --text-placeholder: #8b96a7 !important;
  --text-disabled: #5a6981 !important;
  --text-on-disabled-color: #3a3b3c !important;
  --text-on-color: #18191a !important;
  --text-mention: #3399ff !important;
  --text-errors: #ff6b6b !important;
  --text-success: #37b361 !important;
  --text-warning: #fac000 !important;
  --text-information: #3399ff !important;
  --text-navbar-sublevel-normal: #e4e6eb !important;
  --text-navbar-sublevel-selected: #3399ff !important;
  --icon-primary: #e4e6eb !important;
  --icon-secondary: #b0b3b8 !important;
  --icon-disabled: #5a6981 !important;
  --icon-on-disabled-color: #3a3b3c !important;
  --icon-on-color: #18191a !important;
  --icon-errors: #ff6b6b !important;
  --icon-success: #37b361 !important;
  --icon-warning: #fac000 !important;
  --icon-information: #3399ff !important;
  --icon-count-noti-enable-bg: #c31818 !important;
  --icon-count-noti-disable-bg: #8b96a7 !important;
  --icon-navbar-normal: #e4e6eb !important;
  --icon-navbar-disabled: hsla(0,0%,100%,0.5) !important;
  --icon-navbar-sublevel-normal: #3399ff !important;
  --icon-navbar-sublevel-selected: #3399ff !important;
  --border: rgba(255,255,255,0.1) !important;
  --border-subtle: rgba(255,255,255,0.15) !important;
  --border-hover: rgba(255,255,255,0.25) !important;
  --border-disabled: rgba(255,255,255,0.1) !important;
  --border-focused: #3399ff !important;
  --border-highlight: #66a6ff !important;
  --border-errors: #ff6b6b !important;
  --border-success: #37b361 !important;
  --border-warning: #fac000 !important;
  --border-information: #3399ff !important;
  --border-support-errors: #f39b9b !important;
  --border-support-warning: #ffe58f !important;
  --border-support-success: #a7e2bb !important;
  --border-support-information: #8fbfff !important;
  --border-support-neutral: #c6cad2 !important;
  --border-bold: rgba(255,255,255,0.5) !important;
  --border-on-color: #18191a !important;
  --border-vanish: rgba(255,255,255,0.15) !important;
  --divider: rgba(255,255,255,0.15) !important;
  --divider-subtle: rgba(255,255,255,0.05) !important;
  --divider-bold: rgba(255,255,255,0.15) !important;
  --divider-on-color: hsla(0,0%,0%,0.8) !important;
  --curtain: rgba(0,0,0,0.55) !important;
  --curtain-subtle: rgba(0,0,0,0.25) !important;
  --curtain-bold: rgba(0,0,0,0.7) !important;
  --skeleton: rgba(255,255,255,0.15) !important;
  --skeleton-subtle: rgba(255,255,255,0.1) !important;
  --background-inactiveness: #242526 !important;
  --background-inactiveness-subtle: #3a3b3c !important;
  --background-inactiveness-disabled: #5a6981 !important;
  --background-activeness: #3399ff !important;
  --background-activeness-disabled: #5a6981 !important;
  --background-popover-tips: #00378a !important;
  --background-hovertips: #00378a !important;
  --cta-link: #3399ff !important;
  --cta-link-primary: #3399ff !important;
  --cta-link-disabled: #5a6981 !important;
  --cta-link-hover: #66a6ff !important;
  --cta-link-pressed: #00378a !important;
  --cta-destruction: #c31818 !important;
  --cta-destruction-pressed: #7b0f0f !important;
  --cta-link-neutral: #e4e6eb !important;
  --cta-link-neutral-disable: #8b96a7 !important;
  --input-field-bg-filled: #242526 !important;
  --input-field-bg-filled-hover: #3a3b3c !important;
  --input-field-bg-filled-pressed: #18191a !important;
  --input-field-bg-outline: #242526 !important;
  --input-field-bg-outline-hover: #3a3b3c !important;
  --input-field-bg-outline-pressed: #3399ff !important;
  --input-field-ptv-bg: #18191a !important;
  --input-field-ptv-outline: #3a3b3c !important;
  --blue-message: #242526 !important;
  --blue-message-selected: #3a3b3c !important;
  --blue-quote: #3a3b3c !important;
  --blue-quote-selected: #3399ff !important;
  --white-message: #242526 !important;
  --white-message-selected: #3a3b3c !important;
  --white-quote: #242526 !important;
  --white-quote-selected: #3399ff !important;
  --media-message-hover: rgba(255,255,255,0.2) !important;
  --media-message-selected: #3399ff !important;
  --button-primary-normal: #3399ff !important;
  --button-primary-hover: #66a6ff !important;
  --button-primary-pressed: #00378a !important;
  --button-primary-disabled: #5a6981 !important;
  --button-primary-text: #18191a !important;
  --button-primary-text-disabled: #3a3b3c !important;
  --button-primary-focus-bg: #00378a !important;
  --button-primary-focus-text: #e4e6eb !important;
  --button-primary-tonal-normal: #242526 !important;
  --button-primary-tonal-hover: #3a3b3c !important;
  --button-primary-tonal-pressed: #18191a !important;
  --button-primary-tonal-disabled: #3a3b3c !important;
  --button-primary-tonal-text: #66a6ff !important;
  --button-primary-tonal-text-disabled: #5a6981 !important;
  --button-primary-tonal-focus-bg: #18191a !important;
  --button-primary-tonal-focus-text: #66a6ff !important;
  --button-primary-on-color-normal: #242526 !important;
  --button-primary-on-color-hover: #3a3b3c !important;
  --button-primary-on-color-pressed: #18191a !important;
  --button-primary-on-color-disabled: rgba(255,255,255,0.15) !important;
  --button-primary-on-color-text: #66a6ff !important;
  --button-primary-on-color-text-disabled: #3384ff !important;
  --button-primary-on-color-focus-bg: #18191a !important;
  --button-primary-on-color-focus-text: #66a6ff !important;
  --button-danger-normal: #c31818 !important;
  --button-danger-hover: #9a1313 !important;
  --button-danger-pressed: #7b0f0f !important;
  --button-danger-disabled: #5a6981 !important;
  --button-danger-text: #e4e6eb !important;
  --button-danger-text-disabled: #3a3b3c !important;
  --button-danger-focus-bg: #7b0f0f !important;
  --button-danger-focus-text: #e4e6eb !important;
  --button-danger-tonal-normal: #242526 !important;
  --button-danger-tonal-hover: #3a3b3c !important;
  --button-danger-tonal-pressed: #18191a !important;
  --button-danger-tonal-disabled: #3a3b3c !important;
  --button-danger-tonal-text: #ff6b6b !important;
  --button-danger-tonal-text-disabled: #5a6981 !important;
  --button-danger-tonal-focus-bg: #18191a !important;
  --button-danger-tonal-focus-text: #ff6b6b !important;
  --button-secondary-neutral-normal: #242526 !important;
  --button-secondary-neutral-hover: #3a3b3c !important;
  --button-secondary-neutral-pressed: #18191a !important;
  --button-secondary-neutral-disabled: #3a3b3c !important;
  --button-secondary-neutral-text: #e4e6eb !important;
  --button-secondary-neutral-text-disabled: #5a6981 !important;
  --button-secondary-neutral-focus-bg: #18191a !important;
  --button-secondary-neutral-focus-text: #66a6ff !important;
  --button-tertiary-primary-normal: transparent !important;
  --button-tertiary-primary-hover: #242526 !important;
  --button-tertiary-primary-pressed: #3a3b3c !important;
  --button-tertiary-primary-disabled: transparent !important;
  --button-tertiary-primary-text: #66a6ff !important;
  --button-tertiary-primary-text-disabled: #5a6981 !important;
  --button-tertiary-primary-focus-bg: #3a3b3c !important;
  --button-tertiary-primary-focus-text: #66a6ff !important;
  --button-tertiary-danger-normal: transparent !important;
  --button-tertiary-danger-hover: #242526 !important;
  --button-tertiary-danger-pressed: #3a3b3c !important;
  --button-tertiary-danger-disabled: transparent !important;
  --button-tertiary-danger-text: #ff6b6b !important;
  --button-tertiary-danger-text-disabled: #5a6981 !important;
  --button-tertiary-danger-focus-bg: #3a3b3c !important;
  --button-tertiary-danger-focus-text: #ff6b6b !important;
  --button-tertiary-neutral-normal: transparent !important;
  --button-tertiary-neutral-hover: #242526 !important;
  --button-tertiary-neutral-pressed: #3a3b3c !important;
  --button-tertiary-neutral-disabled: transparent !important;
  --button-tertiary-neutral-text: #e4e6eb !important;
  --button-tertiary-neutral-text-disabled: #5a6981 !important;
  --button-tertiary-neutral-focus-bg: #3a3b3c !important;
  --button-tertiary-neutral-focus-text: #66a6ff !important;
  --button-tertiary-on-color-normal: transparent !important;
  --button-tertiary-on-color-hover: rgba(255,255,255,0.15) !important;
  --button-tertiary-on-color-pressed: rgba(255,255,255,0.2) !important;
  --button-tertiary-on-color-disabled: transparent !important;
  --button-tertiary-on-color-text: #66a6ff !important;
  --button-tertiary-on-color-text-disabled: rgba(255,255,255,0.5) !important;
  --button-tertiary-on-color-focus-bg: rgba(255,255,255,0.15) !important;
  --button-tertiary-on-color-focus-text: #66a6ff !important;
  --button-ghost-primary-normal: transparent !important;
  --button-ghost-primary-hover: #242526 !important;
  --button-ghost-primary-pressed: #3a3b3c !important;
  --button-ghost-primary-disabled: transparent !important;
  --button-ghost-primary-container-outline: #66a6ff !important;
  --button-ghost-primary-container-outline-disabled: #5a6981 !important;
  --button-ghost-primary-text: #66a6ff !important;
  --button-ghost-primary-text-disabled: #5a6981 !important;
  --button-ghost-primary-focus-bg: #3a3b3c !important;
  --button-ghost-primary-focus-text: #66a6ff !important;
  --button-ghost-primary-focus-container-outline: #66a6ff !important;
  --button-ghost-neutral-normal: transparent !important;
  --button-ghost-neutral-hover: #242526 !important;
  --button-ghost-neutral-pressed: #3a3b3c !important;
  --button-ghost-neutral-disabled: transparent !important;
  --button-ghost-neutral-text: #e4e6eb !important;
  --button-ghost-neutral-text-disabled: #5a6981 !important;
  --button-ghost-neutral-container-outline: #5a6981 !important;
  --button-ghost-neutral-container-outline-disabled: #3a3b3c !important;
  --button-ghost-neutral-focus-bg: #3a3b3c !important;
  --button-ghost-neutral-focus-text: #66a6ff !important;
  --button-ghost-neutral-focus-container-outline: #66a6ff !important;
  --button-ghost-danger-normal: transparent !important;
  --button-ghost-danger-hover: #242526 !important;
  --button-ghost-danger-pressed: #3a3b3c !important;
  --button-ghost-danger-disabled: transparent !important;
  --button-ghost-danger-container-outline: #ff6b6b !important;
  --button-ghost-danger-container-outline-disabled: #5a6981 !important;
  --button-ghost-danger-text: #ff6b6b !important;
  --button-ghost-danger-text-disabled: #5a6981 !important;
  --button-ghost-danger-focus-bg: #3a3b3c !important;
  --button-ghost-danger-focus-text: #ff6b6b !important;
  --button-ghost-danger-focus-container-outline: #ff6b6b !important;
  --button-ghost-on-color-normal: transparent !important;
  --button-ghost-on-color-hover: rgba(255,255,255,0.15) !important;
  --button-ghost-on-color-pressed: transparent !important;
  --button-ghost-on-color-disabled: transparent !important;
  --button-ghost-on-color-container-outline: #e4e6eb !important;
  --button-ghost-on-color-container-outline-disabled: hsla(0,0%,100%,0.5) !important;
  --button-ghost-on-color-text: #e4e6eb !important;
  --button-ghost-on-color-text-disabled: hsla(0,0%,100%,0.5) !important;
  --button-ghost-on-color-focus-bg: transparent !important;
  --button-ghost-on-color-focus-text: transparent !important;
  --button-ghost-on-color-focus-container-outline: transparent !important;
  --accent-blue-bg-subtle: #242526 !important;
  --accent-blue-bg: #3399ff !important;
  --accent-blue-bg-bold: #00378a !important;
  --accent-blue-border-subtle: #3a3b3c !important;
  --accent-blue-border: #3399ff !important;
  --accent-blue-border-bold: #00378a !important;
  --accent-blue-text-subtle: #3a3b3c !important;
  --accent-blue-text: #3399ff !important;
  --accent-blue-text-bold: #66a6ff !important;
  --accent-blue-icon-subtle: #3a3b3c !important;
  --accent-blue-icon: #3399ff !important;
  --accent-blue-icon-bold: #66a6ff !important;
  --accent-red-bg-subtle: #242526 !important;
  --accent-red-bg: #c31818 !important;
  --accent-red-bg-bold: #7b0f0f !important;
  --accent-red-border-subtle: #3a3b3c !important;
  --accent-red-border: #c31818 !important;
  --accent-red-border-bold: #7b0f0f !important;
  --accent-red-text-subtle: #3a3b3c !important;
  --accent-red-text: #ff6b6b !important;
  --accent-red-text-bold: #ffb3b3 !important;
  --accent-red-icon-subtle: #3a3b3c !important;
  --accent-red-icon: #ff6b6b !important;
  --accent-red-icon-bold: #ffb3b3 !important;
  --accent-orange-bg-subtle: #242526 !important;
  --accent-orange-bg: #ff6905 !important;
  --accent-orange-bg-bold: #8a3700 !important;
  --accent-orange-border-subtle: #3a3b3c !important;
  --accent-orange-border: #ff6905 !important;
  --accent-orange-border-bold: #8a3700 !important;
  --accent-orange-text-subtle: #3a3b3c !important;
  --accent-orange-text: #fac000 !important;
  --accent-orange-text-bold: #ffe58f !important;
  --accent-orange-icon-subtle: #3a3b3c !important;
  --accent-orange-icon: #fac000 !important;
  --accent-orange-icon-bold: #ffe58f !important;
  --accent-green-bg-subtle: #242526 !important;
  --accent-green-bg: #37b361 !important;
  --accent-green-bg-bold: #1f7a3d !important;
  --accent-green-border-subtle: #3a3b3c !important;
  --accent-green-border: #37b361 !important;
  --accent-green-border-bold: #1f7a3d !important;
  --accent-green-text-subtle: #3a3b3c !important;
  --accent-green-text: #37b361 !important;
  --accent-green-text-bold: #a7e2bb !important;
  --accent-green-icon-subtle: #3a3b3c !important;
  --accent-green-icon: #37b361 !important;
  --accent-green-icon-bold: #a7e2bb !important;
  --accent-steal-bg-subtle: #242526 !important;
  --accent-steal-bg: #2ac5bb !important;
  --accent-steal-bg-bold: #197670 !important;
  --accent-steal-border-subtle: #3a3b3c !important;
  --accent-steal-border: #2ac5bb !important;
  --accent-steal-border-bold: #197670 !important;
  --accent-steal-text-subtle: #3a3b3c !important;
  --accent-steal-text: #2ac5bb !important;
  --accent-steal-text-bold: #b3efeb !important;
  --accent-steal-icon-subtle: #3a3b3c !important;
  --accent-steal-icon: #2ac5bb !important;
  --accent-steal-icon-bold: #b3efeb !important;
  --accent-skyblue-bg-subtle: #242526 !important;
  --accent-skyblue-bg: #0fc3ff !important;
  --accent-skyblue-bg-bold: #00678a !important;
  --accent-skyblue-border-subtle: #3a3b3c !important;
  --accent-skyblue-border: #0fc3ff !important;
  --accent-skyblue-border-bold: #00678a !important;
  --accent-skyblue-text-subtle: #3a3b3c !important;
  --accent-skyblue-text: #0fc3ff !important;
  --accent-skyblue-text-bold: #8ae2ff !important;
  --accent-skyblue-icon-subtle: #3a3b3c !important;
  --accent-skyblue-icon: #0fc3ff !important;
  --accent-skyblue-icon-bold: #8ae2ff !important;
  --accent-pink-bg-subtle: #242526 !important;
  --accent-pink-bg: #da62ac !important;
  --accent-pink-bg-bold: #943d73 !important;
  --accent-pink-border-subtle: #3a3b3c !important;
  --accent-pink-border: #da62ac !important;
  --accent-pink-border-bold: #943d73 !important;
  --accent-pink-text-subtle: #3a3b3c !important;
  --accent-pink-text: #da62ac !important;
  --accent-pink-text-bold: #fab8e0 !important;
  --accent-pink-icon-subtle: #3a3b3c !important;
  --accent-pink-icon: #da62ac !important;
  --accent-pink-icon-bold: #fab8e0 !important;
  --accent-purple-bg-subtle: #242526 !important;
  --accent-purple-bg: #6f3fcf !important;
  --accent-purple-bg-bold: #371c6e !important;
  --accent-purple-border-subtle: #3a3b3c !important;
  --accent-purple-border: #6f3fcf !important;
  --accent-purple-border-bold: #371c6e !important;
  --accent-purple-text-subtle: #3a3b3c !important;
  --accent-purple-text: #6f3fcf !important;
  --accent-purple-text-bold: #cbbaee !important;
  --accent-purple-icon-subtle: #3a3b3c !important;
  --accent-purple-icon: #6f3fcf !important;
  --accent-purple-icon-bold: #cbbaee !important;
  --accent-stealblue-bg-subtle: #242526 !important;
  --accent-stealblue-bg: #507fb4 !important;
  --accent-stealblue-bg-bold: #274362 !important;
  --accent-stealblue-border-subtle: #3a3b3c !important;
  --accent-stealblue-border: #507fb4 !important;
  --accent-stealblue-border-bold: #274362 !important;
  --accent-stealblue-text-subtle: #3a3b3c !important;
  --accent-stealblue-text: #507fb4 !important;
  --accent-stealblue-text-bold: #b2c5dc !important;
  --accent-stealblue-icon-subtle: #3a3b3c !important;
  --accent-stealblue-icon: #507fb4 !important;
  --accent-stealblue-icon-bold: #b2c5dc !important;
  --accent-yellow-bg-subtle: #242526 !important;
  --accent-yellow-bg: #fac000 !important;
  --accent-yellow-bg-bold: #8a6a00 !important;
  --accent-yellow-border-subtle: #3a3b3c !important;
  --accent-yellow-border: #fac000 !important;
  --accent-yellow-border-bold: #8a6a00 !important;
  --accent-yellow-text-subtle: #3a3b3c !important;
  --accent-yellow-text: #fac000 !important;
  --accent-yellow-text-bold: #ffe58f !important;
  --accent-yellow-icon-subtle: #3a3b3c !important;
  --accent-yellow-icon: #fac000 !important;
  --accent-yellow-icon-bold: #ffe58f !important;
  --accent-grey-bg-subtle: #242526 !important;
  --accent-grey-bg: #5a6981 !important;
  --accent-grey-bg-bold: #18191a !important;
  --accent-grey-border-subtle: #3a3b3c !important;
  --accent-grey-border: #5a6981 !important;
  --accent-grey-border-bold: #18191a !important;
  --accent-grey-text-subtle: #3a3b3c !important;
  --accent-grey-text: #b0b3b8 !important;
  --accent-grey-text-bold: #e4e6eb !important;
  --accent-grey-icon-subtle: #3a3b3c !important;
  --accent-grey-icon: #b0b3b8 !important;
  --accent-grey-icon-bold: #e4e6eb !important;
  --progress-track: #3a3b3c !important;
  --progress-track-on-background: #5a6981 !important;
  --progress-indicator: #3399ff !important;
  --progress-indicator-on-background: #e4e6eb !important;
  --shadow-overlay: 0px 0px 1px 0px rgba(0,0,0,0.3),0px 8px 12px 0px rgba(0,0,0,0.15) !important;
  --shadow-overflow: 0px 0px 1px 0px rgba(0,0,0,0.12),0px 0px 8px 0px rgba(0,0,0,0.15) !important;
  --shadow-bubble: 0px 0px 1px 0px rgba(0,0,0,0.25),0px 1px 1px 0px rgba(0,0,0,0.25) !important;
  --timestamp: rgba(255,255,255,0.2) !important;
  --floating-menu: hsla(0,0%,0%,0.8) !important;
  --toast: rgba(0,0,0,0.9) !important;
  --reaction-background: #242526 !important;
  --background-control-alpha: rgba(255,255,255,0.1) !important;
  --background-control-alpha-hover: rgba(255,255,255,0.2) !important;
  --bg-message-info: hsla(0,0%,100%,0.08) !important;
  --jump-to-message: #242526 !important;
  --text-search-highlight: #fac000 !important;
}